<!--
   NMapi Server 0.1 Configuration

   (C) 2008 by Topalis AG

   This is the default configuration file.
   Please be careful when editing this file.

//-->
<configuration>
	<configSections>
		<sectionGroup name="nmapiserver">
			<section name="modlog" type="NMapi.Server.ModLogCfgSection,nmapisvr" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
	</configSections>
	
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<remove name="Default"/>
				<add name="simpleListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="ProcessId" />
			</listeners>
		</trace>
	</system.diagnostics>
	
	<nmapiserver>
		<!--
			============================================
			Configuration information related to modules  
			============================================
		//-->

		<!-- Here you can configure the logger. //-->

		<modlog>
			<loggers>
				<logger name="FileLogger" active="true" />
				<logger name="ConsoleLogger" active="true" />
			</loggers>

	
			<output>		
				<output type="error" value="xxx" />
				<output type="access" value="yyy" />
			</output>

			
			<filelogger>
				<errorLogFile></errorLogFile>
				<accessLogFile></accessLogFile>
			</filelogger>
			
			<syslogger>
				<host>localhost</host>
				<port>514</port>
			</syslogger>

		</modlog>
	</nmapiserver>

	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="duplexRelay">
					<compositeDuplex />
					<binaryMessageEncoding />
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>

		<services>
			<service name="NMapi.Server.MapiOverIndigoService">
				<endpoint name="endpoint1" contract="NMapi.IMapiOverIndigo"
					binding="customBinding" bindingNamespace="http://www.openmapi.org/indigo/0.1/"
					bindingConfiguration="duplexRelay" />
			</service>
		</services>
	</system.serviceModel>

</configuration>
