<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<configSections>
		<sectionGroup name="nmapi">
			<section allowDefinition="Everywhere" allowLocation="true" name="core" type="NMapi.NMapiCoreSection,NMapi"/>
		</sectionGroup>
	</configSections>

	<nmapi>
		<core backend="NMapi.Provider.Styx.MapiFactory,NMapi.Provider.Styx">
			<authentication password="demo1" user="demo1"/>
			<socket host="localhost" port="8001"/>
		</core>
	</nmapi>
</configuration>
