/* Proxy part */


.vtable {
	background-color:#efefef;
	padding:5px;
}

.vtableHead {
	background-color:#c0c0c0;
	font-weight:bold;
}

.sidebar {
	padding:10px;
	margin-left:30px;
	background-color:#e0d8ae;
	width:250px;
	font-size:11px;
}


/* overview page */

.task, .overviewPanel {
	padding:5px;
	margin:10px;
	background-color:#efefef;
}
.overviewPanel {
	float:left;
}

.task {
	background-color:#a1d498;
}


/* menu */

.leftMenuContainer:before {
	content:"+ ";
	color:#a1bfef;
	font-weight:bold;
}

.leftActiveMenu .leftMenuContainer:before {
	color:#444444;
}
.leftActiveMenu {
	background:#a1bfef;
}

/* submenus */

div.submenu {
	padding:0px;
	margin:0px;
	padding-left:5px;
	margin-left:15px;
	border-left: 1px dotted #444444;
}

#leftMenu > li > div.submenu > ul > li > a {
	background:#efefef;
	border-bottom:1px solid #c0c0c0;
}
#leftMenu > li > div.submenu > ul > li > a:hover,
#leftMenu > li > div.submenu > ul > li > a.active {
	background:#444444;
	color:#ffffff;
}




/* ui-all */

.ui-dialog {
 /*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
 font-family: Verdana, Arial, sans-serif;
 background: #ffffff;
 color: #222222;
 border: 4px solid #d3d3d3;
 position: relative;
}
.ui-dialog-content {
 border: 1px solid #d3d3d3;
 background: #ffffff;
 color: #222222;
}
.ui-resizable-handle {
 position: absolute;
 font-size: 0.1px;
 z-index: 99999;
}
.ui-resizable .ui-resizable-handle {
 display: block;
}
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
.ui-resizable-n {
 cursor: n-resize;
 height: 7px;
 width: 100%;
 top: -5px;
 left: 0px;
}
.ui-resizable-s {
 cursor: s-resize;
 height: 7px;
 width: 100%;
 bottom: -5px;
 left: 0px;
}
.ui-resizable-e {
 cursor: e-resize;
 width: 7px;
 right: -5px;
 top: 0px;
 height: 100%;
}
.ui-resizable-w {
 cursor: w-resize;
 width: 7px;
 left: -5px;
 top: 0px;
 height: 100%;
}
.ui-resizable-se {
 cursor: se-resize;
 width: 13px;
 height: 13px;
 right: 0px;
 bottom: 0px;
 background: url(images/222222_11x11_icon_resize_se.gif) no-repeat 0 0;
}
.ui-resizable-sw {
 cursor: sw-resize;
 width: 9px;
 height: 9px;
 left: 0px;
 bottom: 0px;
}
.ui-resizable-nw {
 cursor: nw-resize;
 width: 9px;
 height: 9px;
 left: 0px;
 top: 0px;
}
.ui-resizable-ne {
 cursor: ne-resize;
 width: 9px;
 height: 9px;
 right: 0px;
 top: 0px;
}
.ui-dialog-titlebar {
 /*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
 padding: .5em 1.5em .5em 1em;
 color: #555555;
 background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
 border-bottom: 1px solid #d3d3d3;
 font-size: 1.1em;
 font-weight: normal;
 position: relative;
}
.ui-dialog-title {

}
.ui-dialog-titlebar-close {
 /*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
 background: url(images/888888_11x11_icon_close.gif) 0 0 no-repeat;
 position: absolute;
 right: 8px;
 top: .7em;
 width: 11px;
 height: 11px;
 z-index: 100;
}
.ui-dialog-titlebar-close-hover, .ui-dialog-titlebar-close:hover {
 background: url(images/454545_11x11_icon_close.gif) 0 0 no-repeat;
}
.ui-dialog-titlebar-close:active {
 background: url(images/222222_11x11_icon_close.gif) 0 0 no-repeat;
}
.ui-dialog-titlebar-close span {
 display: none;
}
.ui-dialog-content {
 /*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
 background: #ffffff;
 color: #222222;
 padding: 1.5em 1.7em;
}
.ui-dialog-buttonpane {
 position: absolute;
 bottom: 0;
 width: 100%;
 text-align: left;
 border-top: 1px solid #d3d3d3;
 background: ;
}
.ui-dialog-buttonpane button {
 margin: .5em 0 .5em 8px;
 color: #555555;
 background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
 font-size: 1.1em;
 border: 1px solid #d3d3d3;
 cursor: pointer;
 padding: .2em .6em .3em .6em;
 line-height: 1.4em;
}
.ui-dialog-buttonpane button:hover {
 color: #212121;
 background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
 border: 1px solid #999999;
}
.ui-dialog-buttonpane button:active {
 color: #222222;
 background: #ffffff url(images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
 border: 1px solid #dddddd;
}
/* This file skins dialog */
.ui-dialog.ui-draggable .ui-dialog-titlebar,
.ui-dialog.ui-draggable .ui-dialog-titlebar {
 cursor: move;
}









/* Tablesorter */

table.tablesorter {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #c0c0c0;
	border: 1px solid #FFF;
	padding: 4px;
	font-weight:bold;
}
table.tablesorter thead tr .header {
	background-image: url(/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #a1bfef;
}



/* TABS */

.widget {
	margin: 20px;
	padding: 10px;
	background: #f3f1eb;
	border: 1px solid #dedbd1;
	margin-bottom: 15px;
}

.widget a {
	color: #222;
	text-decoration: none;
}

.widget a:hover {
	color: #009;
	text-decoration: underline;
}

.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 5px;
}

.tabnav li a {
	text-decoration: none;
	color: #222;
	padding: 4px 6px;
	outline: none;
	font-weight:bold;
}

.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
	background: #dedbd1;
	color: #222;
	text-decoration: none;
}

.tabdiv {
	margin-top: 2px;
	background: #fff;
	border: 1px solid #dedbd1;
	padding: 15px;
}

.ui-tabs-hide {
	display: none;
}





/**/


body {
	font-family:sans,Verdana,Arial,Trebuchet MS;
	margin:0px;
	padding:0px;
	font-size: 11px;
}
h1, h2, h3, h4, h5, h6 {
	color:#333333;
	font-weight:normal;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
}
a {
	text-decoration:underline;
}
h1 {
	font-size: 24px;
	border-bottom:3px #cccccc solid;
	padding-bottom:5px;
}
h2 {
	font-size: 18px;
	border-bottom:1px #cccccc solid;
	padding-bottom:5px;

}
h3 {
	font-size: 15px;
	font-weight:bold;
	padding-bottom:5px;
}

h4 {
	font-size: 13px;
	font-weight:bold;
	padding-bottom:5px;
}

li {
	margin-top:10px;
	margin-bottom:10px;
}

table {
	margin:0px;
	padding:0px;
}

#head {
	background-color:#ffffff;
	color:#444444;
	padding:30px;
	padding-top:10px;
	padding-bottom:0px;
	border-bottom: 10px #2664c6 solid;
	margin-bottom:30px;
}

#footer {
	font-size:10px;
	text-align:center;
	color:#444444;
	padding-top:20px;
	border-top: 10px #eeeeee solid;
	margin-top:30px;
	clear:both;
}
#footer a {
	text-decoration:underline;
}

#content {
	background-color: #ffffff;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding:30px;
	border-left: 3px #cccccc solid;
	border-right: 3px #cccccc solid;
	align:center;
	text-align:justify;
	max-width:800px;
}
p {
	line-height:1.6;
}
.example {
	font-style:italic;
}
.exmplContent {
	font-weight:bold;
}

.exmplContent {
	font-weight:bold;
}

#left {
	/*float:left;*/
	width:180px;
	min-width:180px;
	margin:0px;
	margin-top:30px;
	margin-right:15px;
	padding-right:15px;
	border-right:1px #cccccc solid;
}

#left p {
	padding:5px;
	font-size:10px;
}

a, a:link, a:visited,.node .title a:hover,
#main .content a, div.help em, div.admin-panel h3, div.help,
#main .node .node-info, ul.primary li a:hover,
ul.primary li a.active { 
	color: #444444;
}
a:hover, a:focus, a:active{ 
	color: #444444;
}


th, .content th {
	font-weight:bold;
}


/*** Case tracker ***/

.priority-1-high .priority a {
	color:#CC0000;
}

.priority-5-low .priority a {
	color:#0066CC;
}

.status-open a {
}


.console {
	border: 1px #666666 dotted;
	background-color:#efefef;
	color:#444444;
	padding:8px;
	margin:3px;
}

.console a {
	color:#444444;
}





/*=============================
Editable Colors by color module
==============================*/

#main .node .node-info {
	text-align:left;
	font-size:11px;
	padding:4px;
	background-color:#d7eef9; /*#DCF8C3;*/
}

div.help{
	padding:10px;
  background:#FFE68C;
}
body {color:#555;}

ul.primary li a{
	background:#FFE68C;
	border:2px solid #FFBF00;
}
ul.primary li a:hover,
ul.primary li a.active{
  background:#FFE68C;
}

#comments h3{
	background-color:#efefef;
	padding:5px;
}
#main .comment .node-info {
	font-style:italic;
	padding-bottom:3px;
	border-bottom:1px #c0c0c0 solid;
}
#comments h3 a,
.comment h3 a{
	color:#444444;
}

#secondary a:hover {
	background-color:#2664c6;
	color:#a1bfef;
}

#secondary a {

	padding:5px;
	padding-top:3px;
	padding-bottom:3px;

	display:block;
	border-bottom: 1px #2664c6 solid;
	font-size:13px;
	margin:5px;
	text-decoration:none;
	color:#282828;

}

#left h1 {
	font-size:11px;
	color:#222222;
	border:0px;
	padding:5px;
	margin:2px;
	background-color:#a1bfef;
}





/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/




/* Yahoo Reset CSS 
http://developer.yahoo.com/yui/
*/
body {font-size:13px;}
body,div,dl,dt,dd,ul,ol,li,pre,
code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li {list-style:none;}
caption,th {text-align:left;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup,sub {line-height:-1px;vertical-align: text-top;}
sub {vertical-align:text-bottom;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}
textarea{width:100%;}


/* ------ misc Styles ----------*/

a { outline:0; }

.breadcrumb a, .title a {
	text-decoration:none;
}

em{
	color:#222;
	font-style:italic;
}

#main{
	background-color:#fff;
  margin-top:10px;
	min-height:300px;
}



#search-theme-form {
}
.feed-icon{
	position:fixed;
	right:5px;
	top:5px;
}

/*=============================
	Primary & Secondary Links
==============================*/


		.activeTopMenuItem {
		}


#primary, #secondary{
	padding:0;
}
#primary ul, #secondary ul{
	padding:4px 0;
	margin-right:2px;
	text-align:right;
}
#primary li, #secondary li {
	padding:0px;
	margin:0px;
	display:inline;
	list-style:none;
}

#primary a:hover {
	background-color:#2664c6;
	color:#a1bfef;
}

#primary a {
	background-color:#a1bfef;
	padding:10px;
	padding-top:7px;
	padding-bottom:7px;
	display:block;
	border: 1px #2664c6 solid;
	border-bottom: 0px;
	margin-right:5px;
	float:left;
	font-size:14px;
	margin-top:20px;
	margin-bottom:0px;
	text-decoration:none;
	color:#282828;
}

#primary a.active, #primary a.active:hover { 
	background-color:#2664c6;
	color:#ffffff; 
}

/*=============================
				User Block
==============================*/

#block-user-1{
	background:#1F2B3A;
}
#block-user-1 ul.menu{
	padding:0 10px;
	text-align:center;
}
#block-user-1 .title{
	display:none;
}
#block-user-1 li{
	display:inline;
	margin:0;
	padding:0;
}
#block-user-1 a{
	border:1px solid #6a7889;
	color:#cdd;
	padding:2px 10px;
}
#block-user-1 a:hover { 
	color:#fff;
	background-color:#3a4b61; 
}
#block-user-1 li ul{
	display:none;
}

/*=============================
				Breadcrumb
==============================*/

#breadcrumb{
	color:#248399;
  background:#154e5b;
	padding:3px 10px;
}
#breadcrumb a{
  background: url(images/bread.gif) no-repeat 100% 50%;
	padding-right:15px;
	margin-right:4px;
	color:#9ee0ef;
}

/*=============================
				Mission
==============================*/

#mission {
  padding: 15px 15px;
  font-size: 1.1em;
  color: #fff;
	border-bottom:10px solid #1F2B3A;
  background: #3C4B5D;
}


/*=============================
			   NODE DESIGN
==============================*/

.node{
	border-bottom:1px solid #cccccc;
}
.picture{
	float:left;
	margin:0 20px 0 0;
}
#main .node .node-info{
	padding:2px;
}

.node .submitted{
	float:left;
	padding:0 15px;
}
.node .taxonomy, .node div.links{
	display:inline;
}
.node .links li{
	padding:0;
}
.node .links a{
	padding:5px 10px;
}
.node .links .node_read_more {
	font-weight:normal;
	font-size:11px;
	color:#2664c6;
	display:block;
}
#main .node .content{
	padding:20px;
}

/*=============================
			   PAGE DESIGN
==============================*/

#main .content p{
  padding: 0 0 10px 0;
}
.box .title, .profile h2.title,
body.not-front h1.title{
	padding:10px;
}
.status, .message{
	background-color:#DCF8C3;
	color:#409123;
	padding:5px 10px;
	font-weight:bold;
}
span.new{
	float:right;
	color:#c00;
	padding:5px 10px;
}

/* ------ Page Menu ----------*/

.tabs{
	position:relative;
}
.tabs.primary{
	height:0;
	position:absolute;
	top:-29px;
	right:5px;
}
ul.primary{
	margin:0;
	padding:0;
	border:0;
	text-align:right;
}
ul.primary li a{
	padding:3px 12px;
}
ul.primary li a:hover,
ul.primary li a.active{
	border:2px solid #fff;
}
ul.secondary{
	margin:0;
}

/* ------ {Page} ----------*/

#main dl, #main form{
	padding:10px;
}

strong{
	font-weight:bold;
}
#main q{
	font-style:italic;
}
#main q:before, #main q:after{
	content:'"';
}
#main blockquote{
	font-style:italic;
	padding:10px;
	margin:10px;
	border:1px dotted #cdd;
	background-color:#FFFBF0;
}

/* List Styles */

#main .content ul,
#main .content ol{
	margin:0 0 10px 30px;
}
#main .content ul ul,
#main .content ol ol{
	margin-bottom:0;
}

#main .content ul li         { list-style-type: disc; }
#main .content ul ul li      { list-style-type: circle; }
#main .content ul ul ul li   { list-style-type: square; }
#main .content ul ul ul ul li{ list-style-type: circle; }
#main .content ol li         { list-style-type: decimal; }
#main .content ol ol li      { list-style-type: lower-alpha; }
#main .content ol ol ol li   { list-style-type: decimal; }

#main .content li{
	list-style:disc;
}

/*def lists */

#main .content dt{
	font-weight:bold;
}
#main .content dd{
	font-style:italic;
	margin-bottom:10px;
}

/*=============================
				Login Block
==============================*/

#block-user-0{
	background-color:#6B9923;
	border-top:10px solid #1F2B3A;
}
#block-user-0 .content form{
	height:100%;
	background-color:#fff;
}
#block-user-0 .title{
	background-color:transparent;
	color:#fff;
	float:left;
	padding: 10px 10px;
}
#block-user-0 .content{
	height:70px;
	padding:0;
	border:none;
	margin-left:200px;
}
#block-user-0 input#edit-name,
#block-user-0 input#edit-pass{
	background-color:#FFE497;
}
#block-user-0 div.form-item{
	margin:5px 0 0 40px;
	float: left;
}
#block-user-0 #edit-submit{
	margin: 16px 0 0 20px;
	float: left;
}
.item-list ul li {
	list-style:none;
}

/*=============================
		Recent post/comment Block
==============================*/

#block-blog-0,
#block-comment-0{
	clear:both;
}
#block-blog-0 .content,
#block-comment-0 .content{
	padding:0;
}
#block-blog-0{
	background-color:#248399;
}
#block-comment-0{
	background-color:#E34400;	
}
#block-blog-0 .title,
#block-comment-0 .title{
	background-color:transparent;
	color:#fff;
	padding: 10px 10px;
}
#block-blog-0 .item-list ul,#block-blog-0 .item-list ul li,
#block-comment-0 .item-list ul,#block-comment-0 .item-list ul li{
	list-style:none;
	margin:0;
	padding: 0px;
	background-color:transparent;
}
#block-comment-0 .item-list ul li{
	font-size:0px;
	color:#E34400;
}
#block-blog-0 .item-list a,
#block-comment-0 .item-list a{
	font-weight:bold;
	font-size:12px;
	background:#fff url(images/more.gif) no-repeat 98% 50%;
	display:block;
	padding:4px 12px;
}
#block-blog-0 .item-list a{
	color:#248399;
	border-bottom:3px solid #248399;
}
#block-comment-0 .item-list a{
	border-bottom:2px solid #E34400;
	color:#E34400;
}
#block-blog-0 .item-list a:hover{
	background-color:#C4E0E3;
}
#block-blog-0 .more-link a{
	text-align:center;
	display:block;
	color:#003046;
	background-color:#C4E0E3;
}
#block-comment-0 .item-list a:hover{
	background-color:#FDCF8A;
	color:#8C1600;
}

/*=============================
				   Comment
==============================*/

#comments{
	margin-bottom:-10px;
}
.comment{
	border-bottom:2px solid #cccccc;
}
.comment-folded {
	padding: 5px 20px;
	border-bottom:1px solid #cdd;
}
#comment-form .comment{
	border-top:0;
}
.indented{
	border-left:30px solid #1F2B3A;
	
	margin:0;
}
#main .comment .node-info {
	padding:2px;
}
#comments h3 {
	border-bottom:1px solid #fff;
}
#comments .submitted,
.comment .submitted {
	float:left;
	padding:0 15px;	
}
#comments .content,
.comment .content {
	padding:20px;
}
#comments .links{
	display:inline;
}
#comments .node-info a{
	display:inline;
	padding:5px 10px;
}
.box{
	margin:0 0 10px;
}


/*=============================
			Admin Section
==============================*/

#main div.admin-panel dl.admin-list{
	border:0;
}
div.help{
	padding:10px;
}
div.help a{
	color:#f00;
}
div.admin.clear-block{
	padding:15px 10px;
}
div.admin-panel .body {
	padding:0;
}
div.admin-panel h3{
	font-size:18px;
	font-weight:bold;
	letter-spacing:1px;
}
#main table{
	margin:10px;
	width:97%;
}
#node-admin-filter dl.multiselect{
	border-bottom:0;
}
#main .content form{
	border:none;
}
#main input.form-submit{
	margin:10px 0;
}
#content ul.menu{
	padding:20px;
}
.profile{
	margin:20px;
}

/*=============================
					 Forum
==============================*/

#forum a{
	color:#2965FF;
}
tr.even,td.active{
	height:40px;
	background:transparent;
}
tr.odd{
	height:40px;
	background:#E6F8FF;
}
tr, td, th {
	padding:7px;
	border-bottom:1px solid #ccc;
}


/*=============================
				Miscalenious
==============================*/

#first-time h1{
	margin:-20px -20px 10px;
}
.pager{
	background-color:#1F2B3A;
	color:#fff;
}
.pager a{
	color:#aaa;
}
fieldset{
	padding:5px 20px;
}
